@font-face {
    font-family: mstyle;
    src: url('./DeliciousHandrawn-Regular.ttf');
}

@font-face {
    font-family: roboto;
    src: url("./Roboto-Regular.ttf");
}


body{
    margin: 0;
    padding: 0;
}
#container{

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.3fr 0.3fr 4fr 1fr;
}


.hd{
    background-color: #FEFCF3;
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: mstyle;
    font-size: 3rem;
    font-weight: 50;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #F5EBE0;
    font-family: roboto;
    
}

ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}


.ig img{
    width: 100vw;
    height: 80vh;
}


.ig{
    overflow: hidden;
}

.tg{
    position: absolute;
    top: 30rem;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    opacity: 0.4;
    font-family: mstyle;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}





.rv{
    background-color: #F0DBDB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.rv span{
    font-weight: 100;
}


